@font-face {
  font-family: 'MyMontSerrat';
  src: url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #2148C0;
  font-family: MyMontSerrat;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}